@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
  }
  h1 {
    color: black;
  }
  .grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
    div {
      width: 150px;
      margin: 0 1.5rem 1.5rem 0;
      display: inline-block;
      width: 100%;
      border: solid 2px black;
      padding: 5px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
      border-radius: 5px;
      transition: all .25s ease-in-out;
      &:hover img {
        filter: grayscale(0);
      }
      &:hover {
        border-color: coral;
      }
      img {
        width: 100%;
        filter: grayscale(100%);
        border-radius: 5px;
        transition: all .25s ease-in-out;
      }
      p {
        margin: 5px 0;
        padding: 0;
        text-align: center;
        font-style: italic;
      }
    }
  }
  header {
    position: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}
.logo span {
    color: gray;
}
.navigation {
    margin-left: -300px;
}
.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: gray;
}
.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: gray;
    border-radius: 10px;
    border: 2px solid gray;
    font-weight: 500;
    transition: .3s;
}
.btn-talk:hover {
    color: gray;
    background: transparent;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .logo {
        font-size: 1.2em;
    }

    .navigation {
        margin-left: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navigation a {
        margin: 0 10px;
    }

    .home {
        padding: 10px;
    }

    .content {
        max-width: 100%;
        text-align: center;
    }

    .btn-group a {
        padding: 10px 15px;
        margin: 10px 5px;
    }

    .social-icons {
        bottom: 10px;
    }
}